.tag-item a {
  display: inline-flex;
  margin: .375rem;
  border: 1px solid #dee2e6;
  color: #000;
  background: transparent;
  padding: .5rem;
  font-size: .75rem;
  font-weight: 400;
  line-height: .75rem;
  border-radius: 0.2rem;
  box-shadow: none;
}

.tag-item a:focus,
.tag-item a:hover,
.tag-item a:active {
  background-color: #0e8d3f;
  cursor: pointer;
}

body.dark .tag-item a {
  display: inline-flex;
  margin: .375rem;
  background: transparent;
  border: 1px solid #dee2e6;
  color: #f1f3f5;
  padding: .5rem;
  font-size: .75rem;
  font-weight: 400;
  line-height: .75rem;
  border-radius: 0.2rem;
}

body.dark .tag-item a:focus,
body.dark .tag-item a:hover,
body.dark .tag-item a:active {
  background-color: #0e8d3f;
  cursor: pointer;
}