.pill {
  font-size: 0.8rem;
  display: inline-flex;
  align-items: center;
  padding: 0.6rem;
  height: 1.2rem;
  margin: 0.2rem;
  background-color: #eaf5e9;
}

.pill:not(:first-child) {
  margin-left: 0;
}

.pills a {
  color: #43853d;
  box-shadow: none;
}

.pills a:hover {
  color: #fff;
  background-color: #43853d;
}

body.dark .pills a {
  color: #84ba64;
}

body.dark .pill {
  background-color: #1f2f2b;
}

body.dark .pills a:hover {
  color: #fff;
  background-color: #43853d;
}
